@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo+2&display=swap");
@media (min-width: 320px) {

body {
  background: #13131e;
  // margin-right: 16px;
  // padding-left: 16px;
  .doublelogo {
    position: absolute; /* postulat de départ */
    top: 50%;
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -140%);
    .neslogo {
      width: 256px;
      height: 51px;
    }
    .what {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .desc {
    margin-top: 675px;
    .hetic {
      color: #13131e;
    }
    .desc__text{
        display: none;
    }
    .about{
      display: none;
    }
    .desc__type {
      font-family: "Merriweather", serif;
      color: white;
      font-size: 17px;
      line-height: 167.7%;
      padding-left: 16px;
    }
    .desc__typeface{
      display: none;
    }
    .desc__type--date {
      color: #8095ff;
      font-family: "Exo 2", sans-serif;
      font-weight: bold;
      font-size: 17px;
      line-height: 20px;
      text-transform: uppercase;
      margin-top: 1em;
      padding-left: 16px;
    }
    .desc__type--date--text {
      font-family: Merriweather;
      color: #c4c4c4;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 167.7%;
      margin-top: 1em;
      padding-left: 16px;
    }
    .nes__illustration {
      // display: block;
      // margin-left: auto;
      // margin-right: auto;
      width: 100vw;
    }
    .favorite {
      font-family: Merriweather;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 21px;
      text-transform: uppercase;
      color: #ffffff;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3em;
      width: 195px;
      height: 53px;
      border: 2px solid #ffffff;
      box-shadow: 12px 12px 2px 1px rgba(241, 241, 241, 0);
      background: #8095ff;
    }
  }
  .line{
    display: none;
  }
  .palette{
    display: none;
  }
  .contact {
    margin-top: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 185px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
  }
}
}
@media (min-width: 768px) {

  body {
    background: #13131e;
    .doublelogo {
      position: absolute; 
      top: 50%;
      left: 50%; 
      transform: translate(-50%, -140%);
      .neslogo {
        width: 710px;
        height: 128px;
      }
      .what {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 256px;
        height: 56px;
      }
    }
    .desc {
      margin-top: 675px;
      .hetic {
        font-family: "Exo 2", sans-serif;
        font-weight: bold;
        font-size: 54px;
        line-height: 132.27%;
        color: white;
       margin-left: 0.6em;
      }
      .desc__typeface{
        display: block;
      }
      .about{
        display: block;
        width: 225px;
        
      }
      .desc__text{
      display: block;
      color: white;font-family: Merriweather;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 159.65%;
      margin-left: 2em;
      width: 704px;
      


      }
      .desc__type {
        display: none;
      }
     
      .firstdiv {
        display: flex;
        justify-content: space-between;
        margin-top: 3em;
        margin-left: 1.5em;
        margin-right: 2em;
      }
      .seconddiv{
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
        margin-left: 1.5em;
        height: 170px;
        margin-bottom: 1em;
        margin-right: 2em;
      }
      
    .date{
      margin-right: 4em;
    }
      .desc__type--date--text {
        font-family: Merriweather;
        color: #c4c4c4;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 167.7%;
        margin-top: 1em;
      }
      .nes__illustration {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .favorite {
        font-family: Merriweather;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 21px;
        text-transform: uppercase;
        color: #ffffff;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3em;
        width: 195px;
        height: 53px;
        border: 2px solid #ffffff;
        box-shadow: 12px 12px 2px 1px rgba(241, 241, 241, 0);
        background: #8095ff;
        margin-bottom: 1em;
      }
    }
    .line{
      display: block;
      margin: auto; 
      margin-top: 2em;
      }
      .palette{
        margin-top: 2em;
        margin-bottom: 2em;
        width: 392px;
        height: 100px;
        display: block;
margin-right: auto;
      margin-left: auto;
      }
      .type--palette{
        color: #8095ff;
        font-family: "Exo 2", sans-serif;
        font-weight: bold;
        font-size: 17px;
        line-height: 20px;
        text-transform: uppercase;
        margin-top: 1em;
        text-align: center;
      }
    .contact {
      display: none;
    }
  }
}


@media (min-width: 1366px){
  body {
    background: #13131e;
    .doublelogo {
      position: absolute; 
      top: 50%;
      left: 50%; 
      transform: translate(-50%, -140%);
      .neslogo {
        width: 710px;
        height: 128px;
      }
      .what {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 256px;
        height: 56px;
      }
    }
    .desc {
      margin-top: 675px;
      .hetic {
        font-family: "Exo 2", sans-serif;
        font-weight: bold;
        font-size: 54px;
        line-height: 132.27%;
        color: white;
       margin-left: 0.6em;
      }
      .desc__typeface{
        display: block;
      }
      .about{
        display: block;
        width: 225px;
        
      }
      .desc__text{
      display: block;
      color: white;font-family: Merriweather;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 159.65%;
      margin-left: 2em;
      width: 704px;
      


      }
      .desc__type {
        display: none;
      }
     
      .firstdiv {
        display: flex;
        justify-content: space-between;
        margin-top: 3em;
        margin-left: 1.5em;
        margin-right: 2em;
      }
      .seconddiv{
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
        margin-left: 1.5em;
        height: 170px;
        margin-bottom: 1em;
        margin-right: 2em;
      }
      
    .date{
      margin-right: 4em;
    }
      .desc__type--date--text {
        font-family: Merriweather;
        color: #c4c4c4;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 167.7%;
        margin-top: 1em;
      }
      .nes__illustration {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .favorite {
        font-family: Merriweather;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 21px;
        text-transform: uppercase;
        color: #ffffff;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3em;
        width: 195px;
        height: 53px;
        border: 2px solid #ffffff;
        box-shadow: 12px 12px 2px 1px rgba(241, 241, 241, 0);
        background: #8095ff;
        margin-bottom: 1em;
      }
    }
    .line{
      display: block;
      margin: auto; 
      margin-top: 2em;
      }
      .palette{
        margin-top: 2em;
        margin-bottom: 2em;
        width: 392px;
        height: 100px;
        display: block;
margin-right: auto;
      margin-left: auto;
      }
      .type--palette{
        color: #8095ff;
        font-family: "Exo 2", sans-serif;
        font-weight: bold;
        font-size: 17px;
        line-height: 20px;
        text-transform: uppercase;
        margin-top: 1em;
        text-align: center;
      }
    .contact {
      display: none;
    }
  }
}
